USE [hotels]
GO
/****** Object:  Table [dbo].[booking]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[booking](
	[id_booking] [int] IDENTITY(1,1) NOT NULL,
	[id_client] [int] NOT NULL,
	[booking_date] [date] NOT NULL,
 CONSTRAINT [PK_booking] PRIMARY KEY CLUSTERED 
(
	[id_booking] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[client]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[client](
	[id_client] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[phone] [nvarchar](25) NOT NULL,
 CONSTRAINT [PK_client] PRIMARY KEY CLUSTERED 
(
	[id_client] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hotel]   ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hotel](
	[id_hotel] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[stars] [smallint] NULL,
 CONSTRAINT [PK_hotel] PRIMARY KEY CLUSTERED 
(
	[id_hotel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[room]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[room](
	[id_room] [int] IDENTITY(1,1) NOT NULL,
	[id_hotel] [int] NOT NULL,
	[id_room_category] [int] NOT NULL,
	[number] [nvarchar](10) NOT NULL,
	[price] [money] NOT NULL,
 CONSTRAINT [PK_room] PRIMARY KEY CLUSTERED 
(
	[id_room] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[room_category]   ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[room_category](
	[id_room_category] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[square] [smallint] NOT NULL,
 CONSTRAINT [PK_room_category] PRIMARY KEY CLUSTERED 
(
	[id_room_category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[room_in_booking]   ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[room_in_booking](
	[id_room_in_booking] [int] IDENTITY(1,1) NOT NULL,
	[id_booking] [int] NOT NULL,
	[id_room] [int] NOT NULL,
	[checkin_date] [date] NOT NULL,
	[checkout_date] [date] NOT NULL,
 CONSTRAINT [PK_room_in_booking] PRIMARY KEY CLUSTERED 
(
	[id_room_in_booking] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[booking] ON 

INSERT [dbo].[booking] ([id_booking], [id_client], [booking_date]) VALUES (1, 35, CAST(N'2019-01-05' AS Date))
INSERT [dbo].[booking] ([id_booking], [id_client], [booking_date]) VALUES (2, 23, CAST(N'2019-02-17' AS Date))
INSERT [dbo].[booking] ([id_booking], [id_client], [booking_date]) VALUES (3, 19, CAST(N'2019-02-28' AS Date))
GO
SET IDENTITY_INSERT [dbo].[booking] OFF
SET IDENTITY_INSERT [dbo].[client] ON 

INSERT [dbo].[client] ([id_client], [name], [phone]) VALUES (1, N'Ловзанский Феоктист Фомевич', N'7(7800)227-72-32')
INSERT [dbo].[client] ([id_client], [name], [phone]) VALUES (2, N'Яшуков Капитон Архипович', N'7(676)046-56-35')
INSERT [dbo].[client] ([id_client], [name], [phone]) VALUES (3, N'Кривоухов Эрнст Адрианович', N'7(13)135-92-59')
SET IDENTITY_INSERT [dbo].[client] OFF
SET IDENTITY_INSERT [dbo].[hotel] ON 

INSERT [dbo].[hotel] ([id_hotel], [name], [stars]) VALUES (1, N'Космос', 3)
INSERT [dbo].[hotel] ([id_hotel], [name], [stars]) VALUES (2, N'Измайлово Бета', 4)
INSERT [dbo].[hotel] ([id_hotel], [name], [stars]) VALUES (3, N'Восход', 3)
SET IDENTITY_INSERT [dbo].[hotel] OFF
SET IDENTITY_INSERT [dbo].[room] ON 

INSERT [dbo].[room] ([id_room], [id_hotel], [id_room_category], [number], [price]) VALUES (1, 1, 3, N'28', 8504.0000)
INSERT [dbo].[room] ([id_room], [id_hotel], [id_room_category], [number], [price]) VALUES (2, 1, 4, N'23', 9412.0000)
INSERT [dbo].[room] ([id_room], [id_hotel], [id_room_category], [number], [price]) VALUES (3, 1, 6, N'50', 2352.0000)
GO
SET IDENTITY_INSERT [dbo].[room] OFF
SET IDENTITY_INSERT [dbo].[room_category] ON 

INSERT [dbo].[room_category] ([id_room_category], [name], [square]) VALUES (1, N'Повышенной комфортности', 23)
INSERT [dbo].[room_category] ([id_room_category], [name], [square]) VALUES (2, N'Стандартный', 11)
INSERT [dbo].[room_category] ([id_room_category], [name], [square]) VALUES (3, N'Бизнес', 30)
SET IDENTITY_INSERT [dbo].[room_category] OFF
SET IDENTITY_INSERT [dbo].[room_in_booking] ON 

INSERT [dbo].[room_in_booking] ([id_room_in_booking], [id_booking], [id_room], [checkin_date], [checkout_date]) VALUES (1, 1, 71, CAST(N'2019-03-02' AS Date), CAST(N'2019-03-09' AS Date))
INSERT [dbo].[room_in_booking] ([id_room_in_booking], [id_booking], [id_room], [checkin_date], [checkout_date]) VALUES (2, 2, 147, CAST(N'2019-05-12' AS Date), CAST(N'2019-05-15' AS Date))
INSERT [dbo].[room_in_booking] ([id_room_in_booking], [id_booking], [id_room], [checkin_date], [checkout_date]) VALUES (3, 3, 93, CAST(N'2019-05-07' AS Date), CAST(N'2019-05-15' AS Date))
GO
SET IDENTITY_INSERT [dbo].[room_in_booking] OFF
